svg rect.block-width-1.block-variation-1 {
  fill: blue;
}

svg rect.block-width-1.block-variation-2 {
  fill: yellow;
}

svg rect.block-width-1.block-variation-3 {
  fill: orange;
}

svg rect.block-width-2.block-variation-1 {
  fill: pink;
}

svg rect.block-width-2.block-variation-2 {
  fill: gray;
}

svg rect.block-width-2.block-variation-3 {
  fill: violet;
}

svg rect.block-width-3.block-variation-1 {
  fill: darkgreen;
}

svg rect.block-width-3.block-variation-2 {
  fill: purple;
}

svg rect.block-width-3.block-variation-3 {
  fill: red;
}
